<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.ktv.mapper.TBWechatReciveRecordMapper">
  <resultMap id="BaseResultMap" type="com.st.ktv.entity.TBWechatReciveRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="types" jdbcType="VARCHAR" property="types" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="scene" jdbcType="VARCHAR" property="scene" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, types, openid, context, scene, parentid,create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_wechat_receive_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
       delete from tb_wechat_receive_record
    where  id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.st.ktv.entity.TBWechatReciveRecord">
    insert into tb_wechat_receive_record (types, openid, context, scene, parentid,create_time
      )
    values (#{types,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR},
      #{scene,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.st.ktv.entity.TBWechatReciveRecord">
    insert into tb_wechat_receive_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="types != null">
        types,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="scene != null">
        scene,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="types != null">
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="scene != null">
        #{scene,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.ktv.entity.TBWechatReciveRecord">
    update tb_wechat_receive_record
    <set>
      <if test="types != null">
        types = #{types,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="scene != null">
        scene = #{scene,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.ktv.entity.TBWechatReciveRecord">
    update tb_wechat_receive_record
    set types = #{types,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      scene = #{scene,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_wechat_receive_record
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>