<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>xssFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/jsp/my/*</url-pattern>
  </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/jsp/order/*</url-pattern>
    </filter-mapping>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.st.core.LoginFilter</filter-class>
    <init-param>
      <param-name>excludedPages</param-name>
      <param-value>
          scope,other,discount,shop,order,wechat/pay/notify.do,personorder/alipayReturn.do,
          ,member/gotoIndexDomain.do,member/gotoErrorMsg.do,member/gotoMyMessages.do
      </param-value>
    </init-param>
  </filter>

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoreAction</servlet-name>
    <servlet-class>com.st.ktv.controller.CoreAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoreAction</servlet-name>
    <url-pattern>/action/CoreAction</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.st.core.SystemApplicationListener</listener-class>
  </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
		    classpath:applicationContext.xml,classpath:spring/taskSchedule.xml
	    </param-value>
    </context-param>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
      <filter-name>xssFilter</filter-name>
      <filter-class>com.st.core.http.XssFilter</filter-class>
  </filter>
    <filter-mapping>
        <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

  <welcome-file-list>
    <welcome-file>member/gotoIndexDomain.do</welcome-file>
    <!--<welcome-file>/jsp/index.jsp</welcome-file>-->
  </welcome-file-list>
  <error-page>
       <error-code>404</error-code>
       <location>/jsp/error/404.jsp</location>
  </error-page>
  <error-page>
       <error-code>500</error-code>
       <location>/jsp/error/500.jsp</location>
  </error-page>
</web-app>